<div *ngIf="!submitted">
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <ul id="progressbar">
      <li [ngClass]="step>=1?'active':'deactive'"><span>1</span></li>
      <li [ngClass]="step>=2?'active':'deactive'"><span>2</span></li>
      <li [ngClass]="step>=3?'active':'deactive'"><span>3</span></li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <form class="projectDetailsForm" [formGroup]="projectDetails">
      <fieldset [style.display]="step==1?'block':'none'">
        <h3>Project Detail</h3>
        <div class="row">
          <div class="col-sm-4">
            <label>Organisation</label>
            <select class="form-control" formControlName="org">
              <option>Org1</option>
              <option>Org2</option>
            </select>
          </div>
          <div class="col-sm-4">
            <label>Category</label>
            <select class="form-control" formControlName="cat">
              <option>Cat1</option>
              <option>Cat2</option>
            </select>
          </div>
          <div class="col-sm-4">
            <label>Activity</label>
            <select class="form-control" formControlName="act">
              <option>Act1</option>
              <option>Act2</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <label>Title</label>
            <input type="text" class="form-control" formControlName="title">
            <span class="error"
              *ngIf="this.projectDetails.controls.title.invalid && this.projectDetails.controls.title.touched">
              invalid Title
            </span>
          </div>
          <div class="col-sm-4">
            <label>Mag Age</label>
            <input type="number" class="form-control" formControlName="maxage">
            <span class="error"
              *ngIf="this.projectDetails.controls.maxage.invalid && this.projectDetails.controls.maxage.touched">
              invalid Mag Age
            </span>
          </div>
          <div class="col-sm-4">
            <label>Min Age</label>
            <input type="number" class="form-control" formControlName="minage">
            <span class="error"
              *ngIf="this.projectDetails.controls.minage.invalid && this.projectDetails.controls.minage.touched">
              invalid Min Age
            </span>
          </div>
        </div>
      </fieldset>
    </form>
    <form class="projectDetailsGal" [formGroup]="projectGalForm">
      <fieldset [style.display]="step==2?'block':'none'">
        <h3>Project Gallary</h3>
        <div class="row">
          <div class="col-sm-4">
            <label>Project Name</label>
            <select class="form-control" formControlName="pname">
              <option>Proj1</option>
              <option>Proj2</option>
            </select>
          </div>
          <div class="col-sm-4">
            <label>Project Images</label>
            <input type="file" class="form-control" formControlName="pimg" (change)="getImage($event)" multiple>
            <span class="error"
              *ngIf="this.projectGalForm.controls.pimg.invalid && this.projectGalForm.controls.pimg.touched">
              Required Image
            </span>
          </div>
        </div>
        <div class="row" *ngIf="projectImaGallery.length > 0">
          <div class="col-sm-6" *ngFor="let pg of projectImaGallery; let i = index">
            <div class="col-sm-3"><img width="20" height="20" src="{{pg.url}}" />{{pg.name}}<span><button
                  class="btn btn-sm btn-danger" (click)=removeImage(i)>Remove</button></span></div>
          </div>
        </div>
      </fieldset>
    </form>

    <form class="projectCastForm" [formGroup]="projectCastForm">
      <fieldset [style.display]="step==3?'block':'none'">
        <h3>Project Costs</h3>
        <div class="row">
          <div class="col-sm-12">
            <label>Project Name</label>
            <input class="form-control" formControlName="pcname">
            <span class="error"
              *ngIf="this.projectCastForm.controls.pcname.invalid && this.projectCastForm.controls.pcname.touched">
              invalid Project Name
            </span>
          </div>
        </div>
        <div formArrayName="prows">
          <div class="row" *ngFor="let item of this.projectCastForm.controls.prows['controls'];let i = index"
            [formGroupName]="i">
            <div class="col-sm-5">
              <label>Project Duration</label>
              <input id="pduration{{i}}" class="form-control" formControlName="pduration">
            </div>
            <div class="col-sm-5">
              <label>Project Cost</label>
              <input id="pcost{{i}}" class="form-control" formControlName="pcost">
            </div>
            <div class="col-sm-2" *ngIf="i > 0"><button style="margin-top: 25px;" class="btn btn-sm btn-danger"
                (click)="removeCostFields(i)">Remove</button></div>
          </div>
          <button style="margin: 20px; float: right;" class="btn btn-sm btn-success"
            (click)="addCostFields()">Add</button>
        </div>
      </fieldset>
    </form>
    <div class="row" style="padding-top:10px;">
      <div class="col-sm-3">
        <input type="button" *ngIf="step>1" class="btn btn-sm btn-info" name="button" value="prev" (click)="prev()">
        <input type="button" *ngIf="step<3" class="btn btn-sm btn-primary" name="button" value="next" (click)="next()">
        <input type="submit" *ngIf="step==3" class="btn btn-sm btn-primary" name="button" value="submit"
          (click)="submit()">
      </div>
    </div>

  </div>
</div>
</div>
<div class="row text-center" *ngIf="submitted">
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Success!</strong> form submittes successfully.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="col-sm-3">
    <input type="submit"  class="btn btn-sm btn-primary" name="button" value="Back to Form"
    (click)="back()">
  </div>
</div>